{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="900">
		<title>BEU Dispatch Decision Support</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="{% static 'js/fdras_beu.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}"></style>
	</head>
	<body>
		<div id="header" class="col-md-12">
			<img class="logo" src="{% static 'img/intel_logo.png' %}"><h1 class="text-center">BEU Dispatch Decision Support</h1>
		</div>
		<div id="side_panel" class="col-md-3">
			<h1 class="text-center">Fire Danger Rating Areas</h1>
			<h2>Coastal: {{coti_dl}}</h2>
				<div>
					Most recent observation time (all stations in rating area): {{coti_most_recent_obs_hour}}
					<br>
					Average BI: {{coti_bi}}
					<br>
					<ul>
					{% for k, v in coti_bis_dict.items %}
						<li>{{k}}: {{v}}</li>
					{% endfor %}
					</ul>
				</div>
			<h2>Sierra: {{sds_dl}}</h2>
				<div>
					Most recent observation time (all stations in rating area): {{sds_most_recent_obs_hour}}
					<br>
					Average BI: {{sds_bi}}
					<br>
					<ul>
					{% for k, v in sds_bis_dict.items %}
						<li>{{k}}: {{v}}</li>
					{% endfor %}
					</ul>
				</div>
			<h2>Valley: {{svg_dl}}</h2>
				<div>
					Most recent observation time (all stations in rating area): {{svg_most_recent_obs_hour}}
					<br>
					Average BI: {{svg_bi}}
					<br>
					<ul>
					{% for k, v in svg_bis_dict.items %}
						<li>{{k}}: {{v}}</li>
					{% endfor %}
					</ul>
				</div>
			<h2>Gabilan: {{gsh_dl}}</h2>
				<div>
					Most recent observation time (all stations in rating area): {{gsh_most_recent_obs_hour}}
					<br>
					Average BI: {{gsh_bi}}
					<br>
					<ul>
					{% for k, v in gsh_bis_dict.items %}
						<li>{{k}}: {{v}}</li>
					{% endfor %}
					</ul>
				</div>
			<h2>Diablo: {{dgr_dl}}</h2>
				<div>
					Most recent observation time (all stations in rating area): {{dgr_most_recent_obs_hour}}
					<br>
					Average BI: {{dgr_bi}}
					<br>
					<ul>
					{% for k, v in dgr_bis_dict.items %}
						<li>{{k}}: {{v}}</li>
					{% endfor %}
					</ul>
				</div>
		</div>
		<div id="mapdiv" class="col-md-9"></div>
		<script type="text/javascript">
			var coti_dl = "{{coti_dl}}";
			var sds_dl = "{{sds_dl}}";
			var svg_dl = "{{svg_dl}}";
			var gsh_dl = "{{gsh_dl}}";
			var dgr_dl = "{{dgr_dl}}";
		</script>
		<script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
		<div id="footer" class="col-md-12">
			<h4 id="map_coords" class="text-center">Latitude: 36.2, Longitude: -121</h4>
			<h4 class="text-center">&copy; <a href="https://cutt.ly/calfireBEU">Eric Walmsley - Research Data Specialist II</a></h4>
		</div>
	</body>
</html>